<nav class="navbar">
  <div class="navbar-container">

    <ul class="nav-links">
      <li><a href="/admission">Admission</a></li>
      <li><a href="/fees">Fees</a></li>
      <li><a href="/admin">Admin</a></li>
      <li><a href="/attendance">Attendance</a></li>
      <li><a href="/examination">Examination</a></li>
      <li><a href="/transport">Transport</a></li>
      <li><a href="/Accounts">Accounts</a></li>
      <li><a href="/contactus">Contact</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet> 
<app-toast></app-toast>